@mixin lightdark() {


  --gray1:  light-dark(#000000, #ffffff);
  --gray2:  light-dark(#27282e, #d0d0d0);
  --gray3:  light-dark(#383a42, #bebebe);
  --gray4:  light-dark(#494b57, #aaaaaa);
  --gray5:  light-dark(#5a5d6b, #999999);
  --gray6:  light-dark(#6c707e, #888888);
  --gray7:  light-dark(#818594, #777777);
  --gray8:  light-dark(#a8adbd, #666666);
  --gray9:  light-dark(#c9ccd6, #555555);
  --gray10: light-dark(#d3d5db, #444444);
  --gray11: light-dark(#dfe1e5, #333333);
  --gray12: light-dark(#ebecf0, #2a2a2a);
  --gray13: light-dark(#f7f8fa, #1e1e1e);
  --gray14: light-dark(#ffffff, #121212);

  /* BLUE */
  --blue1:  light-dark(#2e55a3, #8ab4ff);
  --blue2:  light-dark(#315fbd, #7aa2ff);
  --blue3:  light-dark(#3369d6, #6b90ff);
  --blue4:  light-dark(#18A0FB, #579aff);
  --blue5:  light-dark(#4682fa, #4f86ff);
  --blue6:  light-dark(#588cf3, #447aff);
  --blue7:  light-dark(#709cf5, #3a6fff);
  --blue8:  light-dark(#88adf7, #335fff);
  --blue9:  light-dark(#a0bdf8, #2a52ff);
  --blue10: light-dark(#c2d6fc, #223fff);
  --blue11: light-dark(#d4e2ff, #1b2fcc);
  --blue12: light-dark(#edf3ff, #162399);
  --blue13: light-dark(#f5f8fe, #111966);

  /* RED */
  --red1:  light-dark(#ad2b38, #ff9da3);
  --red2:  light-dark(#bc303e, #ff8a8f);
  --red3:  light-dark(#cc3645, #ff7a82);
  --red4:  light-dark(#db3b4b, #ff6a72);
  --red5:  light-dark(#e55765, #ff5c63);
  --red6:  light-dark(#e46a76, #ff4f55);
  --red7:  light-dark(#ed99a1, #ff454a);
  --red8:  light-dark(#f2b6bb, #ff3a3f);
  --red9:  light-dark(#fad4d8, #ff3237);
  --red10: light-dark(#fff2f3, #ff292f);
  --red11: light-dark(#fff7f7, #ff2128);

  --master-background: var(--gray13);


  /* TEXT */
  --text-main:        light-dark(#000000, #ffffff);
  --text-placeholder: light-dark(#9e9e9e, #7a7a7a);
  --text-active:      light-dark(#ffffff, #000000);

  --text-primary:     light-dark(#000000, #ffffff);
  --text-secondary:   light-dark(#444444, #bbbbbb);

  --blue: light-dark(#0068b3, #4ba3ff);
  --red:  light-dark(#f14c4c, #ff7373);

  --panels-divider: 1px solid var(--gray12);

  --navigation-bar-background: var(--gray13);
  --navigation-bar-item-color: var(--gray6);
  --navigation-bar-hovered-item-color: var(--gray6);
  --navigation-bar-hovered-item-background: var(--gray9);
  --navigation-bar-selected-item-color: var(--gray6);
  --navigation-bar-selected-item-background: var(--gray11);

  --explorer-panel-background: var(--gray13);
  --explorer-panel-resize-handle: var(--blue6);

  --explorer-panel-item-text: var(--gray1);
  --explorer-panel-expande-collapse-button-color: var(--gray7);
  --explorer-panel-item-selected-not-focused-background: var(--gray11);
  --explorer-panel-item-selected-focused-text: var(--gray1);
  --explorer-panel-item-selected-focused-background: var(--blue11);
  --explorer-panel-item-drop-hovered-border: var(--blue11);
  --explorer-panel-item-hovered-background: var(--gray11);

  --editor-tab-group-background: var(--gray14);
  --editor-tab-selected-background: var(--gray14);
  --editor-tab-selected-border: var(--blue4);
  --editor-tab-hovered-background: var(--gray12);
  --editor-tab-not-selected-background: var(--gray14);
  --editor-tab-text: var(--gray1);
  --editor-tab-close-button-hovered-background: var(--gray13);
  --editor-tab-close-button-text: var(--gray4);

  --editor-details-panel-background: var(--gray14);
  --editor-background: var(--gray14);

  --primary-button-text: var(--gray14);
  --primary-button-normal-border: var(--blue4);
  --primary-button-normal-background: var(--blue4);
  --primary-button-hovered-border: var(--blue3);
  --primary-button-hovered-background: var(--blue3);
  --primary-button-pressed-border: var(--blue2);
  --primary-button-pressed-background: var(--blue2);
  --primary-button-focused-border: var(--blue3);
  --primary-button-focused-background: var(--blue3);
  --primary-button-disabled-text: var(--gray8);
  --primary-button-disabled-border: var(--gray12);
  --primary-button-disabled-background: var(--gray12);

  --primary-button-outline-text: var(--gray1);
  --primary-button-outline-normal-border: var(--gray9);
  --primary-button-outline-hovered-border: var(--gray8);
  --primary-button-outline-pressed-border: var(--gray7);
  --primary-button-outline-focused-border: var(--blue4);
  --primary-button-outline-disabled-text: var(--gray8);
  --primary-button-outline-disabled-border: var(--gray12);
  --primary-button-outline-disabled-background: var(--gray12);

  --icon-button-text: var(--gray6);
  --icon-button-disabled-text: var(--gray8);
  --icon-button-hovered-background: var(--gray12);
  --icon-button-pressed-background: var(--gray11);

  --dialog-title-text: var(--gray1);
  --dialog-close-button-text: var(--gray4);
  --dialog-close-button-hovered-background: var(--gray12);

  --context-menu-background: var(--gray14);
  --context-menu-border: light-dark(0.5px solid rgba(0, 0, 0, 0.1), 0.5px solid rgba(255, 255, 255, 0.2));
  --context-menu-border-radius: 2px;
  --context-menu-divider: var(--gray12);
  --context-menu-shadow: light-dark(0px 6px 20px rgba(145, 145, 145, 0.47), 0px 6px 20px rgba(0, 0, 0, 0.8));

  --context-menu-item-text: var(--gray1);
  --context-menu-item-shortcut-text: var(--gray7);
  --context-menu-delete-item-text: var(--red4);
  --context-menu-item-hovered-background: var(--blue11);
  --context-menu-item-disabled-text: var(--gray7);

  --input-border-textarea: var(--gray11);
  --input-border-focused: var(--blue4);
   --input-border-disabled: light-dark(#DFE1E5, #444444);
  --input-border-focused-has-errors: var(--red4);
  --input-border-not-focused-has-errors: var(--red2);
    --input-background-disabled: light-dark(#f7f8fa9e, #2a2a2a);
  --input-placeholder: var(--gray8);
  --input-icon: var(--gray1);
  --input-text: var(--gray1);
  --input-text-disabled: light-dark(#A8ADBD, #666666);
  --input-button-hovered-background: var(--gray12);

    --input-dialog-border-normal: light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.2));
  --input-editor-details-border-normal: var(--gray10);

  --input-option-text: var(--gray1);
  --input-option-selected-background: var(--gray13);

  --normal-icon-color: var(--gray6);
}

