@use "fonts";

@use "components/button";
@use "components/checkbox";
@use "components/context-menu";
@use "components/dialog";
@use "components/explorer-panel";
@use "components/f-overlay-panel";
@use "components/flow";
@use "components/form";
@use "components/input-container";
@use "components/scrollbar";
@use "components/slider";

@use "themes/colors" as colors;
    :root {
    @include colors.lightdark();
  }


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  @include fonts.font-default();
}

* {
  box-sizing: border-box;
}

.flex-space {
  flex: 1;
}
