:host {
  cursor: pointer;
  position: relative;
  .color-prefix {
    width: 16px;
    height: 16px;
    border-radius: 1px;
  }
}


:host {
  display: block;
}

/* Panel başlangıç durumu (Angular state: void) */
.panel {
  transform: scaleY(0.8);
  min-width: 100%;
  opacity: 0;

  /* Angular: transition('void => *', animate('120ms cubic-bezier(0, 0, 0.2, 1)')) */
  transition:
    transform 120ms cubic-bezier(0, 0, 0.2, 1),
    min-width 120ms cubic-bezier(0, 0, 0.2, 1),
    opacity 120ms cubic-bezier(0, 0, 0.2, 1);
}

/* Angular state: showing */
.panel.showing {
  opacity: 1;
  min-width: calc(100% + 32px);
  transform: scaleY(1);
}

/* Angular state: showing-multiple */
.panel.showing-multiple {
  opacity: 1;
  min-width: calc(100% + 64px);
  transform: scaleY(1);
}

/* Angular: transition('* => void', animate('100ms 25ms linear', style({ opacity: 0 }))) */
.panel.hiding {
  opacity: 0;
  transition:
    opacity 100ms 25ms linear,
    transform 100ms linear,
    min-width 100ms linear;
}
